.infoPane {
  width: 100%;
  font-size: 0.8rem;
  line-height: 1.5em;
  color: white;
  text-shadow: 1px 1px 5px #FFC2D3;
}

.hareshiBanner {
  width: 610px;
  height: 7rem;
  padding: 1rem;
  background-size: cover;
  filter: blur(4px) brightness(50%);
  position: absolute;
  text-decoration: none!important;
}

.hareshiBannerBlock {
  font-size: 1.5rem;
  margin-left: 1rem;
  width: 93%;
  z-index: 1;
  position: relative;
  margin-bottom: 3rem;
  text-decoration: none!important;
}

.title {
  font-size: 1.4rem;
  line-height: 2rem;
  width: calc(640px - 1.5rem);
  padding: 0 0.5rem 0 0.5rem;
  color: white;
  border-left: 3px double white;
}

.subtitle {
  font-size: 0.8rem;
  line-height: 1rem;
  width: calc(640px - 1.5rem);
  padding: 0 0.5rem 0.2rem 0.7rem;
  color: white;
  border-left: 3px double white;
}

.divider {
  border-bottom: 1px dashed white;
}

.poster img {
  min-width: 230px;
  transition: all 300ms ease-out;
}

.detail {
  width: 640px;
  display: flex;
  align-items: flex-start;
  align-content: space-around;
  justify-content: space-between;
}

.infoPane table {
  flex-grow: 1;
  display: block;
  border-spacing: 10px 0;
  border-collapse: separate;
}

/* .infoPane table td:last-child {
  width: 100%;
} */

.infoPane td {
  border-bottom: 1px dotted white;
  vertical-align: middle;
  padding: 0.5rem;
}

.infoPane tr:last-child td {
  border-bottom: none;
}

.footNotes {
  text-align: right;
  font-size: 0.6rem;
  line-height: 0.6rem;
  padding: 0.3rem;
}