.result {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-around;
  justify-content: space-between;
  box-shadow: 0 0 20px #4C3E43;
  text-shadow: 1px 1px 5px #FFC2D3;
  margin: 0.5rem 0 0.5rem 0;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: all 300ms ease-out;
  background-color: #3F3035;
  background-size: 20px 20px;
}

.result:hover {
  box-shadow: 0 0 10px #332228;
  transition: all 100ms ease-out;
}

.result:active {
  box-shadow: 0 0 10px #332228;
  transform: translate(1px, 1px);
  transition: all 100ms ease-out;
  border-color: white;
  border: 1px solid white;
}

.active {
  box-shadow: 0 0 10px #332228;
  transition: all 100ms ease-out;
  border: 1px solid white;
}

.detail {
  padding: 0.5rem;
  line-height: 1.5rem;
}

.title {
  color: white;
  font-size: 0.9rem;
  width: 100%;
  padding: 0.5rem;
  border-bottom: 1px dashed white;
}

.ep {
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

.time {
  color: white;
  font-size: 0.75rem;
}

.similarity {
  color: white;
  font-size: 0.75rem;
}

.result video {
  max-width: 160px;
}