@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300&display=swap');
*,html {
  font-family: 'Noto Sans Thai', sans-serif;
}
html {
  position: relative;
  min-height: 100%;
  font-size: 100%;
}
body {
  padding: 0;
  margin: 0;
  margin-bottom: 160px;
  overflow-y: scroll;
  background-color: #332228;
  font-family: Helvetica, Arial, Meiryo, microsoft jhenghei, microsoft yahei, sans-serif;
}

a,
a:hover {
  color: white;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

@media (max-width: 500px) {
  body {
    margin-bottom: 320px;
  }
}

@media (max-width: 350px) {
  body {
    margin-bottom: 600px;
  }
}
